/* * {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f15946;
  transition: 0.4s ease-in-out;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  position: absolute;
  z-index: 99;
  width: 100%;
  padding: 60px
}
  
.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: 900;
  letter-spacing: 2px;
  color: #fff;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
}

li {
  list-style: none;
  margin: 0 60px;
}

/* nav a {
  color: #fff;
  font-weight: 600;
  background: #23232a;
  padding: 16px 24px;
  padding-top: 45px;
  border-radius: 10px;
} */
/*
a {
  text-transform: capitalize;
  text-decoration: none;
  padding: 16px;
  color: #fff;
}

.discover {
  color: #fff;
  font-weight: 600;
  background: #858586;
  padding: 16px 24px;
  border-radius: 60px;
}

.btn {
  color: #fff;
  font-weight: 600;
  background: #23232a;
  padding: 16px 24px;
  border-radius: 10px;
}


.title {
  font-size: 5rem;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  color: #fff;
}
.title span {
    display: block;
  } */


  html,
  body,
  #root,
  .bg{
      margin: 0;
      padding: 0;
      width: 100vw;
      height: 100vh;
      /* overflow: hidden; */
    }
  
  canvas {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    /* left: 0;
    right: 0; */
  }
  
  body {
      /* background: #171717; */
      background: radial-gradient(at 50% 100%, #873740 0%, #272730 40%, #070710 100%);
  }
  
  .bg {
    position: absolute;
    /* width: 100%;
    height: 100%;
    background-size: cover;
    position: fixed !important; */
    background: radial-gradient(at 50% 100%, #873740 0%, #272730 40%, #171720 80%, #070710 100%);
  }
  
  .loading {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #171717;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .loading-bar-container {
    width: 200px;
    height: 3px;
    background: #272727;
  }
  
  .loading-bar {
    height: 3px;
    background: white;
  }
  
  h1 {
    position: absolute;
    top: 120px;
    left: 50%;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 800;
    font-size: 14em;
    transform: translate3d(-50%, 0, 0);
    margin: 0;
    color: peru;
    line-height: 0.8em;
    letter-spacing: -15px;
    text-align: center;
  }
  
  h1 > span {
    white-space: pre;
  }
  
  .layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100% fixed !important;
    background: linear-gradient(0deg, rgba(63, 12, 88, 0.2) 0%, transparent 100%);
    pointer-events: none;
  }
  
  span.header {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    position: absolute;
    display: inline-block;
    width: 500px;
    transform: translate3d(0, -50%, 0);
    font-size: 9em;
    line-height: 0.9em;
    pointer-events: none;
    top: 350px;
    left: 50px;
  }
  
  span.header-left {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    position: absolute;
    display: inline-block;
    transform: translate3d(0, -50%, 0);
    line-height: 1em;
    top: 200px;
    left: 60px;
    font-size: 4em;
    width: 200px;
  }
  
  @media only screen and (max-width: 600px) {
    a.bottom-left {
      display: none;
    }
  }
  
  @media only screen and (max-width: 1000px) {
    h1 {
      transform: translate3d(-50%, 0, 0);
      font-size: 8em;
      letter-spacing: -5px;
    }
  }
  
  @media only screen and (max-width: 500px) {
    h1 {
      transform: translate3d(-50%, 0%, 0);
      font-size: 4em;
      letter-spacing: -5px;
    }
  }
  
  a {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: inherit;
    position: absolute;
    display: inline;
    text-decoration: none;
    z-index: 1;
    color: white;
  }
  
  a.top-left {
    top: 60px;
    left: 60px;
  }
  
  a.top-right {
    top: 60px;
    right: 60px;
  }
  
  a.bottom-left {
    bottom: 60px;
    left: 60px;
  }
  
  a.bottom-right {
    bottom: 60px;
    right: 60px;
  }

/* ========================================= */
/* =============== HOME PAGE =============== */
/* ========================================= */

.homeContainer {
  text-align: center;
  /* background-color: rgb(35, 147, 182); */
  /* background-image: url('/images/spacebackground.jpg'); */
  position: absolute;
  background-size: cover;
  z-index: -2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.particles {
  position:fixed !important;
  left:0;
  top:0;
  width:100%;
  height:100%;
}

/* ========================================= */
/* =============== WISH FORM =============== */
/* ========================================= */

#messageForm {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: pink;
  /* background: url('./images/starfield.png') no-repeat fixed; */
  background-size: 40% cover;
}

#messageForm h1 {
  text-align: center;
}

#messageForm form {
  width: 70vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#messageForm p {
  font-family: 'Major Mono Display', 'Arial', sans-serif;
  text-align: center;
  line-height: 1.5;
  font-size: 0.9rem;
  justify-content: center;
  padding: 2rem 0 2rem 0;
}

.form-group {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

/* LEFT COLUMN OF FORM */
#messageForm label {
  font-family: 'Major Mono Display', 'Arial', sans-serif;
  /* border: 3px solid red; */
  width: 30%;
  text-align: center;
}

/* RIGHT COLUMN OF FORM */
.form-inputs {
  width: 70%;
  /* border: 3px solid blue; */
}

input,
textarea {
  height: 2rem;
  width: 100%;
  border: none;
  border-radius: 5px;
}

textarea {
  height: 10rem;
}

/* ========================================= */
/* ================= message ================== */
/* ========================================= */

#message {
  color: white;
  background: none;
  top: 1rem;
  right: 1rem;
  position: absolute;
}
#message p {
  line-height: 1.4rem;
  font-family: 'Major Mono Display', 'Arial', sans-serif;
  font-size: 0.9rem;
}

#charLimit {
  font-family: 'Raleway', 'Helvetica', 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 0.5rem;
}

#messageButton {
  width: 100%;
  margin-top: 2rem;
}


.drop-down {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  border-radius: 10px;
}

.drop-intro {
  font-size: large;
}

/* ========================================= */
/* ================= messageSelect ================== */
/* ========================================= */

.dd-wrapper{
  width: 30%;
  margin: 10% auto;
}

.dd-header{
  border: 1px solid lightblue;
  padding: 10px;
}

.dd-list{
  border: 1px solid lightblue;
  border-top: none;
  margin-top: 0%;
  list-style: none;
  text-align: center;
  padding: 10px
}

.dd-list-item{
  padding: 10px;
}