/* * {
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f15946;
  transition: 0.4s ease-in-out;
}
html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
header {
  position: absolute;
  z-index: 99;
  width: 100%;
  padding: 60px
}
  
.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  font-weight: 900;
  letter-spacing: 2px;
  color: #fff;
}
ul {
  margin: 0;
  padding: 0;
  display: flex;
}
li {
  list-style: none;
  margin: 0 60px;
}
/* nav a {
  color: #fff;
  font-weight: 600;
  background: #23232a;
  padding: 16px 24px;
  padding-top: 45px;
  border-radius: 10px;
} */
/*
a {
  text-transform: capitalize;
  text-decoration: none;
  padding: 16px;
  color: #fff;
}
.discover {
  color: #fff;
  font-weight: 600;
  background: #858586;
  padding: 16px 24px;
  border-radius: 60px;
}
.btn {
  color: #fff;
  font-weight: 600;
  background: #23232a;
  padding: 16px 24px;
  border-radius: 10px;
}
.title {
  font-size: 5rem;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  color: #fff;
}
.title span {
    display: block;
  } */


  html,
  body,
  #root,
  .bg{
      margin: 0;
      padding: 0;
      width: 100vw;
      height: 100vh;
      /* overflow: hidden; */
    }
  
  canvas {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    /* left: 0;
    right: 0; */
  }
  
  body {
      /* background: #171717; */
      background: black
    url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
      /* background: radial-gradient(at 50% 100%, #873740 0%, #272730 40%, #070710 100%); */
  }
  
  .bg {
    position: absolute;
    /* width: 100%;
    height: 100%;
    background-size: cover;
    position: fixed !important; */
    background: black
    url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
    /* background: radial-gradient(at 50% 100%, #873740 0%, #272730 40%, #171720 80%, #070710 100%); */
  }
  
  .loading {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #171717;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .loading-bar-container {
    width: 200px;
    height: 3px;
    background: #272727;
  }
  
  .loading-bar {
    height: 3px;
    background: white;
  }
  
  h1 {
    position: absolute;
    top: 120px;
    left: 50%;
    font-family: 'Lexend Mega', sans-serif;
    /* font-family: 'Josefin Sans', sans-serif; */
    font-weight: 800;
    font-size: 10em;
    transform: translate3d(-50%, 0, 0);
    margin: 0;
    /* color: radial-gradient(at 50% 100%, #873740 0%, #272730 40%, #171720 80%, #070710 100%); */
    color: peru;
    line-height: 0.8em;
    letter-spacing: -15px;
    text-align: center;
  }
  
  h1 > span {
    white-space: pre;
  }
  
  .layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100% fixed !important;
    background: linear-gradient(0deg, rgba(63, 12, 88, 0.2) 0%, transparent 100%);
    pointer-events: none;
  }
  
  span.header {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    position: absolute;
    display: inline-block;
    width: 500px;
    transform: translate3d(0, -50%, 0);
    font-size: 9em;
    line-height: 0.9em;
    pointer-events: none;
    top: 350px;
    left: 50px;
  }
  
  span.header-left {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    position: absolute;
    display: inline-block;
    transform: translate3d(0, -50%, 0);
    line-height: 1em;
    top: 200px;
    left: 60px;
    font-size: 4em;
    width: 200px;
  }
  
  @media only screen and (max-width: 600px) {
    a.bottom-left {
      display: none;
    }
  }
  
  @media only screen and (max-width: 1000px) {
    h1 {
      transform: translate3d(-50%, 0, 0);
      font-size: 8em;
      letter-spacing: -5px;
    }
  }
  
  @media only screen and (max-width: 500px) {
    h1 {
      transform: translate3d(-50%, 0%, 0);
      font-size: 4em;
      letter-spacing: -5px;
    }
  }
  
  a {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: inherit;
    position: absolute;
    display: inline;
    text-decoration: none;
    z-index: 1;
    color: white;
  }
  
  a.top-left {
    top: 60px;
    left: 60px;
    color: white;
  }
  
  a.top-right {
    top: 60px;
    right: 60px;
    color: white;
  }
  
  a.bottom-left {
    bottom: 60px;
    left: 60px;
    color: white;
  }
  
  a.bottom-right {
    bottom: 60px;
    right: 60px;
    color: white;
  }

/* ========================================= */
/* =============== HOME PAGE =============== */
/* ========================================= */

.homeContainer {
  text-align: center;
  /* background-color: rgb(35, 147, 182); */
  /* background-image: url('/images/spacebackground.jpg'); */
  position: absolute;
  background-size: cover;
  z-index: -2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.particles {
  position:fixed !important;
  left:0;
  top:0;
  width:100%;
  height:100%;
}

/* ========================================= */
/* =============== MESSAGE FORM =============== */
/* ========================================= */

#messageForm {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  background: black
    url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
  /* background-color: rgb(209, 73, 96); */
  /* background-image: url('dark-starfield.jpg'); */
  /* background-image: url('mercury.png') no-repeat fixed; */
  /* background-size: 40% cover; */
}

h4 {
  color: white;
}

#options {
  width: 100vh;
  height: 8vh;
  display: flex;
  width: 80%;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-family: 'Goldman', cursive;
  /* padding-left: 20px; */
}

#messageForm h2 {
  padding-top: 30px;
  text-align: center;
  font-size: 40px;
  /* font-family: 'Bebas Neue', cursive; */
  font-family: 'Goldman', cursive;
}

#messageForm form {
  height: 40vh;
  width: 70vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#messageForm h4 {
  font-family: 'Major Mono Display', 'Arial', sans-serif;
  text-align: center;
  line-height: 1.5;
  font-size: 0.9rem;
  justify-content: center;
  padding: 2rem 0 2rem 0;
}

.form-group {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

/* LEFT COLUMN OF FORM */
#messageForm label {
  font-family: 'Major Mono Display', 'Arial', sans-serif;
  color: white;
  /* border: 3px solid red; */
  /* width: 30%; */
  /* text-align: center; */
}

/* RIGHT COLUMN OF FORM */
.form-inputs {
  width: 100%;
  /* border: 3px solid blue; */
}

.form-inputs1 {
  width: 100%;
  padding-left: 110px;

  /* border: 3px solid blue; */
}

input,
textarea {
  height: 2rem;
  width: 100%;
  border: none;
  border-radius: 5px;
  font-family: 'Goldman', cursive;
}

textarea {
  height: 10rem;
}

/* ========================================= */
/* ================= message ================== */
/* ========================================= */

#message {
  color: white;
  background: none;
  top: 1rem;
  right: 1rem;
  position: absolute;
}
#message p {
  line-height: 1.4rem;
  font-family: 'Major Mono Display', 'Arial', sans-serif;
  font-size: 0.9rem;
}

#charLimit {
  font-family: 'Raleway', 'Helvetica', 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 10px;
  color:white;
}

#messageButton {
  width: 100%;
  margin-top: 2rem;
  font-family: 'Major Mono Display';
  background-color: white;
  border-radius: 5px;
}

/* ========================================= */
/* ================= messageSelect ================== */
/* ========================================= */

.dd-wrapper{
  width: 30%;
  margin: 10% auto;
}

.dd-header{
  border: 1px solid lightblue;
  padding: 10px;
}

.dd-list{
  border: 1px solid lightblue;
  border-top: none;
  margin-top: 0%;
  list-style: none;
  text-align: center;
  padding: 10px
}

.dd-list-item{
  padding: 10px;
}

/* ========================================= */
/* ================= messageSubmitted ================== */
/* ========================================= */

#messageSubmitted {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2rem;
}
/* 
#messageSubmittedText {
  display: flex;
  width: 70vw;
  font-size: 0.8rem;
  text-align: center;
  padding: 0 2rem 0 2rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
} */

h2 {
  color:white;
  font-size: 60px;
  padding-bottom: 40px;
}

h3 {
  color: white;
  font-family: 'Major Mono Display';
}

p {
  line-height: 1.5;
  color: white;
  text-align: center;
  align-items: center;
  font-family: 'Major Mono Display', 'Arial', sans-serif;
}

.container-submit {
  /* margin: 0 auto; */
  width: 100%;
  /* max-width: 100%; */
  /* height: 100%; */
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.submittedButton {
  width: 100%;
  margin-top: 2rem;
  font-family: 'Major Mono Display';
  background-color: white;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-right: 60px;
}

/* ========================================= */
/* ================= APOD ================== */
/* ========================================= */

.datepicker {
  margin-top: 150px;
  /* padding: 70px; */
  align-items: center;
  text-align: center;
  justify-content: center;
  /* height: 2rem; */
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.apodButton {
  margin-top: 2rem;
  font-family: 'Major Mono Display';
  /* background-color: white; */
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.background-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
}

.stars {
  background: black
    url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  z-index: 9;
}

.apod-image {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.image-description p {
  padding-top: 30px;
  font-size: 20px;
  font-family: Arial;
}


/* ========================================= */
/* ================= QUIZ ================== */
/* ========================================= */

.question-section {
  font-family:'Courier New', Courier, monospace;
  color: white;
  font-size: 30px;
  justify-content: center;
  align-items: center;
  text-align: center;

}

.answer-section {
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.score-section {
  color: white;
  font-size: 30px;
  
}

/* ========================================= */
/* ================= QUOTES ================== */
/* ========================================= */

#text p {
  padding-top: 30px;
  font-family: 'Courier New';
  font-size: 30px;
  color: black
}

#author p {
  font-family: 'Courier New';
  font-size: 30px;
  color: black
}

.quotesButton {
  width: 20%;
  height: 50px;
  margin-top: 3rem;
  font-family: 'Major Mono Display';
  background-color: rgb(100, 184, 190);
  border-radius: 5px;
  margin-left: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h5 {
  color: white;
}

#quote-box {
  width: 800px;
  margin: 0 auto;
  padding: 1px 15px;
  font-weight: 550;
  font-size: 22px;
  background: linear-gradient(35deg, #CCFFFF, #FFCCCC);
  text-align: center;
  border-radius: 20px;
  box-shadow: 0px 0px 2px 1px gray;
}
.quiz{
  line-height: 1.5;
  color: white;
  font-family: 'Major Mono Display', 'Arial', sans-serif;
  text-align: center;
}

.QuizForm{
    line-height: 1.5;
    color: white;
    font-family: 'Major Mono Display', 'Arial', sans-serif;
    text-align: center;
}

h6 {
  color:white;
}

